<% layout('layouts/boilerplate') %>

<div class="row">
  <h2 class="text-center">ロケーション 編集</h2>

  <div class="offset-md-3 col-md-6 mt-4">
    <form action="/locations/<%= location._id %>?_method=PUT" method="POST" class="validated-form" novalidate>
    <form action="/locations" method="POST">
      <div class="mb-3">
        <label class="form-label"  for="locationname">ロケーション名</label>
        <input class="form-control" type="text" name="location[locationname]" id="locationname" value="<%= location.locationname %>" required>
        <div class="valid-feedback">
          OK!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label"  for="largedescription">説明</label>
        <textarea class="form-control" type="text" name="location[description]" id="locationdescription" rows="5"><%= location.description %></textarea>
        <div class="valid-feedback">
          OK!
        </div>
      </div>
      <div class="d-flex">
        <div class="mb-3">
          <button class="btn btn-success">更新する</button>
        </div>
    </form>

        <form class="d-inline" action="/locations/delete/<%= location._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger ms-2">削除する</button>
        </form>
      </div>

    <div>
      <a href="/locations">一覧に戻る</a>
    </div>

  </div>
</div>
